In [1]:
import pandas as pd

In [2]:
old_df = pd.DataFrame({"id":["A","B","C","D","E"], "value":["Apple","Organge","Banana","Mango","Coconut"]})

In [3]:
new_df = pd.DataFrame({"id":["C","D","E", "F", "G"], "value":["New Banana"," Mango","New Coconut", "Pineaple", "Strawberry"]})

In [4]:
def combineOnIDAndUpdate(old_df, new_df):
    a = new_df.set_index("id")
    b = old_df.set_index("id")
    df = (a.combine_first(b)).reset_index().reindex(columns=old_df.columns)
    return df

In [5]:
df = combineOnIDAndUpdate(old_df, new_df)
df

  id        value
0  A        Apple
1  B      Organge
2  C   New Banana
3  D        Mango
4  E  New Coconut
5  F     Pineaple
6  G   Strawberry